@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Work+Sans:wght@500&display=swap');
#home{
    background-image: url(../images/HeaderIMG.JPG);
    background-size: cover;
    background-position: center;
    height: 50vh;
}
#geography{
    background-image: url(../images/GeographyIMG.JPG);
    background-size: cover;
    background-position: center;
    height: 50vh;
}
#people{
    background-image: url(../images/people.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}
#economy{
    background-image: url(../images/Business.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}
#attactios{
    background-image: url(../images/NikkoYuko.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.main{
    background-color: #2aa09e;
    background-image: url(../images/lethbridge-logo-BG.jpg);
    background-attachment: fixed;
}
.second{
    background-color: #296dff8a;
    font-family: 'Work Sans', sans-serif;
}
.second a{
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: #000000;
}
.second a:hover{
    text-decoration: none;
    color: #464646;
}

.logoBack{
    background-color: #ffffff8a;
}
footer{
    background-color: #FFDB4B;
    font-family: 'Work Sans', sans-serif;
}