#bodyBG{
    background-color: #ffcece;
}
#header {
    background-color: #ffb2b2;
}
#form {
    background-color: #ffcece;
}
hr{
    background-color: #ffb2b2;
}
#storyPG{
    background-color: #ffb2b2;
}
#footer{
    background-color: #fd9c9c;
}